streamlit>=1.36   # on_select / selection_mode for st.plotly_chart added in 1.36
plotly>=5.20
xarray>=2024.1.0
netCDF4>=1.6
numpy>=1.24
pandas>=2.0
networkx>=3.0
scipy>=1.10
scikit-learn>=1.3
python-igraph>=0.11
leidenalg>=0.10
